@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('@fonts/Roboto[ital,wdth,wght].ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('@fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-Light';
  src: url('@fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('@fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('@fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('@fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('@fonts/Inter-variable.ttf');
}

body {
  overflow-x: hidden;
}

.dropDownContainer.active > div > img {
  transform: rotate(180deg);
}

.columnContent:hover > p:first-child {
  color: #1660cf;
}

.faqDropdown--active > div > img {
  transform: rotate(180deg);
}

.shopCardHovered > span {
  transform: translateY(0px);
}

.loginGradient {
  background-image: linear-gradient(
    135deg,
    rgba(17, 0, 30, 1) 0%,
    rgba(49, 10, 103, 1) 58%,
    rgba(106, 9, 166, 1) 86%
  );
}

.contactGradient {
  background-image: linear-gradient(
    45deg,
    rgba(255, 204, 112, 1) 0%,
    rgba(200, 80, 192, 1) 25%,
    rgba(72, 21, 208, 1) 100%
  );
}
